li{
    list-style-type: none;
    margin: 1px auto;
    padding: 5px;
    background-color: rgb(197, 197, 231);
}

li:hover{
    background-color: rgb(221, 221, 231);
    color:#00F;
}

#navbar-toggle-cbox {
    display:none
  }
  #navbar-toggle-cbox:checked ~ .collapse {
      display: block;
  }